{% extends "base.html" %}

{% block title %} Filton | Messages {% endblock %}

{% block naslov %} Messages! {% endblock %}

{% block vsebina %}

{% for message in msg %}
    <p>
        <a href="/details/{{ message.key.id() }}">Details</a>
        <strong> Message created: </strong>{{ message.email }}, {{ message.name }} {{ message.surname }}  : {{ message.message }} <strong> at : </strong>[{{ message.date.strftime('%d-%b-%Y %H:%M')}}] </p>
    <hr>
{% else %}
    <p> There is no message.</p>
{% endfor %}

{% endblock %}